*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
  background: #eef8ff;  
}
#header {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.logo{
    width: 170px;
}
.nav-links{
    padding: 28px 0;
}
.nav-links li { 
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: rgb(41, 121, 241);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ;
}
.nav-links li a:hover::after{
    width: 100%;
}
/*mobile nav*/
.nav-bars-ptn{
    width: 28px;
    height: 28px;
    color: beige;
    display: none;
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.3s ;
}
.nav-mobile{
position: fixed;
top: 0;
right: 0;
bottom: 0;
width: 320px;
max-width: 100%;
max-height: 100%;
background-color: #fff;
transform: translateY(-100%);
opacity: 0;
transition: transform linear 0.5s, opacity linear 0.5s;
}
.nav-mobile-links{
margin-top: 24px;
}
li {
    list-style-type: none;
}
.nav-mobile-links a{
text-decoration: none;
color: black;
display: block;
padding: 8px 0;
font-size: 1.4rem;

}
.nav-mobile-close{
color: #666;
width: 20px;
height: 20px;
position: absolute;
top: 1rem;
right: 1rem;
}
.nav-input:checked ~ .nav-overlay{
display: block;
}
.nav-input:checked ~ .nav-mobile{
    transform: translateY(0%);
    opacity: 1;
}

@media (max-width: 900px){
    .nav-bars-ptn{
        display: block;
    }
    .nav-pc{
        display: none;
    }
}
@keyframes fadeIn{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*and mobile nav*/
.btn{
    background-color: rgb(226, 107, 17);
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;

}
.content{
    position: absolute;
    left:50vh;
    top: 30vh;
    width: 900%;
    max-width: 900px;
    transform: translate(-50% -50%);
    text-align: center;
    color: white;
    padding-top: 50px;
}
.content h1{
    font-size: 65px ;
    font-weight: 600;
    margin-bottom: 40px;
}
.content form{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}
.content form button{
    background: yellowgreen;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.content form button:hover{
    background-color: rgb(203, 206, 24);
    color: rgb(220, 241, 241);
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 12px;
   
}
.menu{
    width: 80px;
    height:80px ;
    background:rgba(243, 242, 242, 0.15) ;
    margin: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}
.menu:hover{
    background: rgba(230, 240, 240, 0) ;
}
.video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 90%;
    min-height: 90%;
    width: auto;
    height: auto;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
@media(max-width: 900px){
    .video{
      display: none;
    }
    body {
        background: url(img/back.png);
        background-size: cover;
    }
}

/* features */
#feature{
    width: 100%;
    padding: 70px 0;
    color: rgb(53, 49, 49);
    background: linear-gradient(to top, #ebecf3, #b2eee2);
}
.tite-text{
    text-align: center;
    padding-bottom: 70px;
}
.tite-text p{
    margin: auto;
    font-size: 20px;
    color: #019578;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline;
}
.tite-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius:35px ;
    border-bottom-right-radius:35px ;
}
.tite-text h1{
    font-size: 50px;
}
.feature-box{
    width:80% ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
  flex-basis:50% ;  
}
.feature-img{
    flex-basis:50% ;
    margin: auto;
}
.feature-img img{
    width: 70%;
    /* height: 70%; */
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #07b894;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fab{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #019578
}
.feature-text{
    text-align: initial;
    padding: 0 20px;
}

/* service */
#container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background: linear-gradient(to bottom, #ebecf3, #b2eee2);
}
#container h1{
    text-align:center ;
    padding-top:5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
#container h1::after{
    content: '';
    background: #019578 ;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom:  -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s,  background 0.5s;
}
.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #07b894;
}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;

}
.service:hover{
    background: #019578;
    color: #fff;
    transform: scale(1.05);
}
.service:hover i{
    color: #fff;
}
/* and service */

/* testimonial */
#testimonaial{
    width: 100%;
    padding: 0 8%;
    color: rgb(17, 16, 16);
    background: linear-gradient(to left, #d2d9fa, #b2eee2);
}

#testimonaial h1{
    text-align:center ;
    padding-top:5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
#testimonaial h1::after{
    content: '';
    background: #019578 ;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom:  -5px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonaial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonaial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #14141414;
    cursor: pointer;
    cursor: pointer;
    transition: transition .5s;
}
.testimonaial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 100px;
    margin-right: 20px;
    border-radius: 9px;
}
.user-infor .fab{
    margin-left: 10px;
    font-size: 20px;
    color: #019578;
}
.user-infor small{
    color: #019578;
}
.testimonaial-col:hover{
    transform: translateX(7px);
}





/*and testimonial */


/*footer*/
footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, #019578);
    color: rgb(245, 234, 234);
    padding: 100px 0 30px;
    /* border-top-left-radius:120px ; */
    /* border-top-right-radius:120px ; */
    font-size: 19px;
    line-height: 20px;
}
.row{
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), col:nth-child(3){
    flex-basis: 15%; 
}
.logo-footer{
width:90px;
margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
  width: fit-content;  
  border-bottom: 1px solid #ccc ;
  margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
   padding-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #ccc; 
   margin-bottom: 50px;
}
form .fas{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}
form button .fas{
 font-size: 16px ;
 color: #ccc;

}
.social-icons .fab{
    width: 40px;
    height:40px ;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#000 ;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    color: rgb(32, 31, 31);
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite ;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 900px){
        footer{
            bottom: unset;
        }
        .col{
            flex-basis: 100%;
        }
        .col:nth-child(2), col:nth-child(3){
            flex-basis: 100%; 
        }
}
/*and footer*/

/*Responsive*/
@media (max-width: 900px) {
   .content{
       /* position: relative; */
       width: 100%;
   }

    form{
        width: 100%;
    }

}